#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

#title {
    font-size: 45px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    margin-bottom: 0.2rem;
}

#forgotLink {
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    margin-top: 0.4rem;
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupForm > div  {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

#signupForm > div input {
    border: 2px solid #004A94;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem;
    min-width: 250px;
}

#signupForm > div input:focus {
    outline: none;
}

.homeBtn {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline-offset: 4px;
}

.homeBtn:first-of-type {
    margin-bottom: 1.5rem;
}

.loginShadow {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(6px);
}

.loginEdge {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background-color: #01162b;
}

.loginFront {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    transform: translateY(-6px);
    transition: transform 0.1s ease;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #004A94;
}

.homeBtn:hover .loginFront {
    transform: translateY(-8px);
}

.homeBtn:active .loginFront {
    transform: translateY(-2px);
}

.homeBtn:active .loginShadow {
    transform: translateY(2px);
}