@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Rampart+One&display=swap');

html, body {
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    position: relative;
}

.home-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.home-title {
    font-size: 70px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
}

.sign-up-btn {
    text-decoration: none;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #004A94;
    border: 2px solid #004A94;
    margin-bottom: 1rem;
}

.log-in-btn {
    text-decoration: none;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    background-color: #004A94;
    color: white;
    border: 2px solid #004A94;
}

.home-sub-title {
    font-size: 25px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-decoration: none;
}

.menu button {
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: #004A94;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
}

.menu button Link {
    text-decoration: none;
    color: #004A94;
}

.menu button:hover {
    background-color: #004A94;
    border: 2px solid #004A94;
    color: white;
    cursor: pointer;
}

.menu button .menu-icon {
    font-size: 22px;
}

.menu button .menu-text {
    margin-left: 1rem;
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.title {
    font-size: 40px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 2rem;
}

.study-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#study-card {
    perspective: 1000px;
    width: 600px;
    height: 300px;
    margin-bottom: 1.5rem;
}

#study-card:hover {
    cursor: pointer;
}

#study-card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#study-card.flip #study-card-inner {
    transform: rotateY(180deg);
}

#study-card-front, #study-card-back {
    width: 600px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#study-card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

#study-card-back {
    transform: rotateY(180deg);
}

#deck-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deck-nav span {
    font-size: 22px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    margin-right: 1rem;
    margin-left: 1rem;
}

#deck-nav span:first-of-type {
    color: #D9EDF8;
}

#deck-nav span:last-of-type {
    cursor: pointer;
}

.toolbar {
    background-color: #D9EDF8;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.toolbar button {
    margin-right: 0.5rem;
    font-size: 18px;
    color: #004A94;
    background-color: #D9EDF8;
    border: 2px solid #D9EDF8;
    border-radius: 5px;
    padding: 0.2rem;
}

.toolbar button:hover {
    color: white;
    background-color: #004A94;
    border: 2px solid #004A94;
    cursor: pointer;
}

.edit-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-card-front, #edit-card-back {
    width: 700px;
    height: 400px;
    background-color: white;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#edit-card {
    perspective: 1000px;
    width: 700px;
    height: 400px;
    margin-bottom: 1.5rem;
}

#edit-card:hover {
    cursor: pointer;
}

#edit-card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#edit-card.flip #edit-card-inner {
    transform: rotateY(180deg);
}

#edit-card-front, #edit-card-back {
    width: 700px;
    height: 400px;
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#edit-card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

#edit-card-back {
    transform: rotateY(180deg);
}
